/* SCSS bij fitguide2.0 */
/* reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";
@import "https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700&display=swap";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, nav ul, form ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

nav ul, form ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* eigen css regels --------------------------- */
* {
  box-sizing: border-box; }

p {
  margin-bottom: 1em; }

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  display: block; }

.floatfix {
  clear: both;
  overflow: hidden;
  zoom: 1;
  _overflow: visible; }

.passendeimg {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* Variables bij fitguide2.0 */
/* Mixins bij Fitguide2.0 */
/*Algemene stijlen ------------------------------------------------------------------------------------------------ */
body {
  color: black;
  font-weight: 400;
  font-size: 100%;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  font-style: normal;
  line-height: 1.6;
  text-align: left;
  letter-spacing: 0;
  background: white; }

a {
  text-decoration: none;
  color: #288; }
  a:hover {
    text-decoration: underline; }

/* Header stijlen --------------------------------------------------------------------------------------------------*/
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 20px 0; }
  header img {
    width: 100px;
    height: 100px; }
  header a.menu {
    position: absolute;
    top: 20px;
    right: 45px;
    color: black;
    font-weight: 400;
    font-size: 1rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 100px;
    text-align: left;
    letter-spacing: 0;
    font-size: 1.9rem; }
  header .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s ease-out;
    text-align: center; }
    header .overlay a {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-weight: 700;
      font-size: 1.5rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0;
      display: block;
      transition: 500ms ease-out; }
      header .overlay a:hover, header .overlay a a.active {
        color: #288; }
    header .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px; }

/* Sections Index --------------------------------------------------------------------------------------------------*/
section.section-one div.pic {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(../images/running_shoes.jpg) center/cover no-repeat; }
  section.section-one div.pic img {
    transform: translateX(-300px); }
  section.section-one div.pic .overlay {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: center;
    color: #288;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    section.section-one div.pic .overlay h1 {
      color: #288;
      font-weight: 700;
      font-size: 2rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: left;
      letter-spacing: 0;
      text-transform: uppercase;
      margin-left: 20px; }
    section.section-one div.pic .overlay p {
      margin-left: 20px; }

@media screen and (min-width: 600px) {
  section.pic {
    display: grid;
    grid-template: auto/1fr 1fr; } }
section.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  section.section-two div.pic {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden; }
  section.section-two h2 {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0;
    text-transform: uppercase; }
  section.section-two article {
    text-align: center;
    margin-top: 40px; }
    section.section-two article span {
      color: #FC3;
      font-size: 3rem;
      padding-bottom: 15px; }
    section.section-two article h3 {
      color: #FC3;
      font-weight: 700;
      font-size: 1.8rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0;
      text-transform: uppercase;
      padding-bottom: 30px; }
    section.section-two article p {
      color: black;
      font-weight: 400;
      font-size: 1.4rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0;
      padding-bottom: 40px; }

@media screen and (min-width: 600px) {
  section.section-two {
    display: grid;
    grid-template: auto/1fr 1fr; } }
section.section-three div.pic {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  section.section-three div.pic img {
    width: 100%; }
  section.section-three div.pic .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
    section.section-three div.pic .overlay h2 {
      color: black;
      font-weight: 700;
      font-size: 1.6rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0;
      text-transform: uppercase; }
    section.section-three div.pic .overlay button {
      background-color: #288;
      border: none;
      color: white;
      padding: 18px 38px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 19px;
      margin: 4px 2px;
      cursor: pointer; }

section.section-four {
  background: #288; }
  section.section-four .testt {
    background: url(../images/fitsmile.jpg) center/cover no-repeat; }
  section.section-four form {
    background: #288;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    section.section-four form h2 {
      color: white;
      font-weight: 700;
      font-size: 1.5rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0;
      text-transform: uppercase;
      padding: 40px 0; }
    section.section-four form ul {
      width: 90%; }
      section.section-four form ul input {
        width: 100%;
        padding: 1em 1.5em;
        margin: .5em 0;
        background: none;
        border: solid 2px white;
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
        section.section-four form ul input.placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul input:-moz-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul input::-moz-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul input:-ms-input-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul input::-webkit-input-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
      section.section-four form ul textarea {
        width: 100%;
        padding: 1em 1.5em;
        margin: .5em 0;
        background: none;
        border: solid 2px white;
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
        section.section-four form ul textarea.placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul textarea:-moz-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul textarea::-moz-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul textarea:-ms-input-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul textarea::-webkit-input-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
      section.section-four form ul input[type="Submit"] {
        width: 100%;
        padding: 1em 1.5em;
        margin: .5em 0;
        background: white;
        border: none;
        cursor: pointer;
        transition: 300ms;
        color: black;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0; }
        section.section-four form ul input[type="Submit"]:hover {
          background: #111;
          color: #288; }
    section.section-four form p {
      margin: .5em 0;
      color: white;
      font-weight: 400;
      font-size: 1.2rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: left;
      letter-spacing: 0; }

@media screen and (min-width: 600px) {
  section.section-four {
    display: grid;
    grid-template: auto/1fr 1fr; }
    section.section-four img#fit {
      justify-content: center;
      align-items: center; } }
/* Scroll to top button ---------------------------------------------------------------------------------------------*/
#goToTop {
  cursor: pointer;
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #111;
  color: #EEE;
  font-size: 3rem;
  padding: 0 .5em;
  border-radius: 5px; }
  #goToTop:hover {
    color: #FC3; }

/* The snackbar messages ------------------------------------------------------------------------------------------ */
.breadcrumb-item, .breadcrumb {
  background: #288;
  color: white;
  border-radius: 0;
  margin-bottom: 0;
  width: 300px;
  justify-content: center;
}

.breadcrumb-item.active {
  color: white;
  text-align: center;
}



/* Registratiepagina---------------------------------------------------------------------*/
div.picregistratie {
  background: url("../images/benchpress.png") center/cover no-repeat;
  height: 183px; }

form {
  background: #288;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  form h1, form h2, form h3 {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 40px 0; }
  form p, form ol {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0; }
  form ul {
    width: 90%; }
    form ul input, form ul select {
      width: 100%;
      padding: 1em 1.5em;
      margin: .5em;
      background: none;
      border: solid 2px white;
      color: white;
      font-weight: 400;
      font-size: 1.2rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: left;
      letter-spacing: 0; }
      form ul input option, form ul select option {
        color: black;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
      form ul input.placeholder, form ul select.placeholder {
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
      form ul input:-moz-placeholder, form ul select:-moz-placeholder {
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
      form ul input::-moz-placeholder, form ul select::-moz-placeholder {
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
      form ul input:-ms-input-placeholder, form ul select:-ms-input-placeholder {
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
      form ul input::-webkit-input-placeholder, form ul select::-webkit-input-placeholder {
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
  form input[type="Submit"], form button {
    width: 100%;
    padding: 1em 1.5em;
    margin: .5em 0;
    background: white;
    border: none;
    cursor: pointer;
    transition: 300ms;
    color: black;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0; }
    form input[type="Submit"]:hover, form button:hover {
      background: #111;
      color: #288; }
  form .tab {
    display: none; }
  form .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5; }
  form .step.active {
    opacity: 1; }
  form .step.finish {
    background-color: #4CAF51; }

/*loginpage------------------------------------------------------------*/
div.piclogin {
  background: url("../images/loginbanner.png") center/cover no-repeat;
  height: 183px; }

.loginbutton {
  text-align: center;
  align-content: center;
  max-width: 20%; }
.test{justify-content: center;}
.inputlogin{
  max-width: 40%;
  display: flex;
  flex-direction: column;

}

/*Userpage------------------------------------------------------------------*/
body.userpagina {
  background: url(https://subtlepatterns.com/patterns/use_your_illusion.png);
  color: #eee;
  font: 1em 'PT Sans', sans-serif; }

::selection {
  background-color: #4EC6DE; }

.tabbed {
  width: 700px;
  margin: 50px auto; }

.tabbed > input {
  display: none; }

.tabbed > label {
  display: block;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color .3s; }

.tabbed > label:hover,
.tabbed > input:checked + label {
  background: #4EC6DE; }

.tabs {
  clear: both;
  perspective: 600px; }

.tabs > div {
  width: 700px;
  position: absolute;
  border: 2px solid #4EC6DE;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: opacity .3s, transform 1s;
  z-index: 0; }

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4),
#tab-nav-5:checked ~ .tabs > div:nth-of-type(5) {
  transform: rotateX(0);
  opacity: 1;
  z-index: 1; }

@media screen and (max-width: 700px) {
  .tabbed {
    width: 400px; }

  .tabbed > label {
    display: none; }

  .tabs > div {
    width: 400px;
    border: none;
    padding: 0;
    opacity: 1;
    position: relative;
    transform: none;
    margin-bottom: 60px; }

  .tabs > div h2 {
    border-bottom: 2px solid #4EC6DE;
    padding-bottom: .5em; } }
.fas {
  color: white; }

input.edit-stats {
  background: #288;
  color: black; }

tr {
  margin-bottom: 10px; }

tr:nth-of-type(even) {
  background: white;
  color: black; }

/* Footer -----------------------------------------------------------------------------------------------------------*/
footer {
  padding: 2em;
  background: #EEE;
  text-align: center; }

/*--------------------------------------*/

/*# sourceMappingURL=opmaak.css.map */
