/* SCSS bij fitguide2.0 */
/* reset */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css";
@import "https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700&display=swap";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, nav ul, form ul,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

nav ul, form ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* eigen css regels --------------------------- */
* {
  box-sizing: border-box; }

p {
  margin-bottom: 1em; }

.list-unstyled {
  list-style: none;
  margin: 0;
  padding: 0; }

img {
  display: block; }

.floatfix {
  clear: both;
  overflow: hidden;
  zoom: 1;
  _overflow: visible; }

.passendeimg {
  width: 100%;
  height: 100%;
  object-fit: cover; }

/* Variables bij fitguide2.0 */
/* Mixins bij Fitguide2.0 */
/*Algemene stijlen ------------------------------------------------------------------------------------------------ */
body {
  color: black;
  font-weight: 400;
  font-size: 100%;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  font-style: normal;
  line-height: 1.6;
  text-align: left;
  letter-spacing: 0;
  background: white; }

a {
  text-decoration: none;
  color: #288; }
  a:hover {
    text-decoration: underline; }

/* Header stijlen --------------------------------------------------------------------------------------------------*/
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin: 20px 0; }
  header img {
    width: 100px;
    height: 100px; }
  header a.menu {
    position: absolute;
    top: 20px;
    right: 45px;
    color: black;
    font-weight: 400;
    font-size: 1rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 100px;
    text-align: left;
    letter-spacing: 0;
    font-size: 1.9rem; }
  header .overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s ease-out;
    text-align: center; }
    header .overlay a {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      font-weight: 700;
      font-size: 1.5rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0;
      display: block;
      transition: 500ms ease-out; }
      header .overlay a:hover, header .overlay a a.active {
        color: #288; }
    header .overlay .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px; }

@media screen and (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }

  .navbalk a.menu {
    display: none; }
  .navbalk .overlay {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #FC3;
    overflow: hidden;
    display: block; }
  .navbalk ul {
    display: flex;
    justify-content: space-around; }
    .navbalk ul a {
      display: block;
      padding: 14px 20px;
      color: black;
      font-weight: 400;
      font-size: 100%;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: left;
      letter-spacing: 0; }
      .navbalk ul a:hover, .navbalk ul a.active {
        background-color: #288;
        color: #FC3; }
  .navbalk .closebtn {
    display: none; } }
/* Sections Index --------------------------------------------------------------------------------------------------*/
section.section-one div.pic {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url(../images/running_shoes.jpg) center/cover no-repeat; }
  section.section-one div.pic img {
    transform: translateX(-300px); }
  section.section-one div.pic .overlay {
    position: absolute;
    width: 50%;
    height: 100%;
    text-align: center;
    color: #288;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; }
    section.section-one div.pic .overlay h1 {
      color: #288;
      font-weight: 700;
      font-size: 2rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: left;
      letter-spacing: 0;
      text-transform: uppercase;
      margin-left: 20px; }
    section.section-one div.pic .overlay p {
      margin-left: 20px; }

@media screen and (min-width: 600px) {
  section.pic {
    display: grid;
    grid-template: auto/1fr 1fr; } }
section.section-two {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  section.section-two div.pic {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: available;
    overflow: hidden; }
  section.section-two h2 {
    position: absolute;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0;
    text-transform: uppercase; }
  section.section-two article {
    text-align: center;
    margin-top: 40px; }
    section.section-two article span {
      color: #FC3;
      font-size: 3rem;
      padding-bottom: 15px; }
    section.section-two article h3 {
      color: #FC3;
      font-weight: 700;
      font-size: 1.8rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0;
      text-transform: uppercase;
      padding-bottom: 30px; }
    section.section-two article p {
      color: black;
      font-weight: 400;
      font-size: 1.4rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0;
      padding-bottom: 40px; }

@media screen and (min-width: 600px) {
  section.section-two {
    display: grid;
    grid-template: auto/1fr 1fr; } }
section.section-three div.pic {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  section.section-three div.pic img {
    width: 100%; }
  section.section-three div.pic .overlay {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%; }
    section.section-three div.pic .overlay h2 {
      color: black;
      font-weight: 700;
      font-size: 1.6rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0;
      text-transform: uppercase; }
    section.section-three div.pic .overlay button {
      background-color: #288;
      border: none;
      color: white;
      padding: 18px 38px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 19px;
      margin: 4px 2px;
      cursor: pointer; }

section.section-four {
  background: #288; }
  section.section-four .testt {
    background: url(../images/fitsmile.jpg) center/cover no-repeat; }
  section.section-four form {
    background: #288;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; }
    section.section-four form h2 {
      color: white;
      font-weight: 700;
      font-size: 1.5rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: center;
      letter-spacing: 0;
      text-transform: uppercase;
      padding: 40px 0; }
    section.section-four form ul {
      width: 90%; }
      section.section-four form ul input {
        width: 100%;
        padding: 1em 1.5em;
        margin: .5em 0;
        background: none;
        border: solid 2px white;
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
        section.section-four form ul input.placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul input:-moz-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul input::-moz-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul input:-ms-input-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul input::-webkit-input-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
      section.section-four form ul textarea {
        width: 100%;
        padding: 1em 1.5em;
        margin: .5em 0;
        background: none;
        border: solid 2px white;
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
        section.section-four form ul textarea.placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul textarea:-moz-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul textarea::-moz-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul textarea:-ms-input-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
        section.section-four form ul textarea::-webkit-input-placeholder {
          color: white;
          font-weight: 400;
          font-size: 1.2rem;
          font-family: "IBM Plex Sans", Arial, sans-serif;
          font-style: normal;
          line-height: 1.6;
          text-align: left;
          letter-spacing: 0; }
      section.section-four form ul input[type="Submit"] {
        width: 100%;
        padding: 1em 1.5em;
        margin: .5em 0;
        background: white;
        border: none;
        cursor: pointer;
        transition: 300ms;
        color: black;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: center;
        letter-spacing: 0; }
        section.section-four form ul input[type="Submit"]:hover {
          background: #111;
          color: #288; }
    section.section-four form p {
      margin: .5em 0;
      color: white;
      font-weight: 400;
      font-size: 1.2rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: left;
      letter-spacing: 0; }

@media screen and (min-width: 600px) {
  section.section-four {
    display: grid;
    grid-template: auto/1fr 1fr; }
    section.section-four img#fit {
      justify-content: center;
      align-items: center; } }
/* Scroll to top button ---------------------------------------------------------------------------------------------*/
#goToTop {
  cursor: pointer;
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: #111;
  color: #EEE;
  font-size: 3rem;
  padding: 0 .5em;
  border-radius: 5px; }
  #goToTop:hover {
    color: #FC3; }

/* The snackbar messages ------------------------------------------------------------------------------------------ */
.breadcrumb-item, .breadcrumb {
  background: #872525;
  color: white;
  border-radius: 0;
  margin-bottom: 0; }

.breadcrumb-item.active {
  color: white; }

/* Registratiepagina---------------------------------------------------------------------*/
div.picregistratie {
  background: url("../images/benchpress.jpg") center/cover no-repeat;
  height: 183px; }

form {
  background: #288;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  form h1, form h2, form h3 {
    color: white;
    font-weight: 700;
    font-size: 1.5rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 40px 0; }
  form p, form ol {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0; }
  form ul {
    width: 90%; }
    form ul input, form ul select {
      width: 100%;
      padding: 1em 1.5em;
      margin: .5em;
      background: none;
      border: solid 2px white;
      color: white;
      font-weight: 400;
      font-size: 1.2rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: left;
      letter-spacing: 0; }
      form ul input option, form ul select option {
        color: black;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
      form ul input.placeholder, form ul select.placeholder {
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
      form ul input:-moz-placeholder, form ul select:-moz-placeholder {
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
      form ul input::-moz-placeholder, form ul select::-moz-placeholder {
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
      form ul input:-ms-input-placeholder, form ul select:-ms-input-placeholder {
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
      form ul input::-webkit-input-placeholder, form ul select::-webkit-input-placeholder {
        color: white;
        font-weight: 400;
        font-size: 1.2rem;
        font-family: "IBM Plex Sans", Arial, sans-serif;
        font-style: normal;
        line-height: 1.6;
        text-align: left;
        letter-spacing: 0; }
    form ul a {
      text-decoration: underline;
      color: #FC3;
      transition: all 500ms; }
      form ul a:hover {
        color: white; }
  form .buttonholder {
    width: 100%; }
    form .buttonholder .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start; }
  form input[type="Submit"], form button {
    width: 100%;
    padding: 1em 1.5em;
    margin: .5em;
    background: white;
    border: none;
    cursor: pointer;
    transition: 300ms;
    color: black;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0; }
    form input[type="Submit"]:hover, form button:hover {
      background: #111;
      color: #288; }
  form .tab {
    display: none; }
  form .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5; }
  form .step.active {
    opacity: 1; }
  form .step.finish {
    background-color: #4CAF51; }
  form .personal ul input, form .personal ul select {
    width: unset; }

@media screen and (min-width: 800px) {
  main.register {
    display: grid;
    grid-template: auto/1fr 1fr; }
    main.register div.picregistratie {
      height: unset; } }
/*loginpage------------------------------------------------------------*/
div.piclogin {
  background: url("../images/loginbanner.png") center/cover no-repeat;
  height: 183px; }

@media screen and (min-width: 800px) {
  main.login {
    display: grid;
    grid-template: auto/1fr 1fr; }
    main.login div.piclogin {
      height: unset; } }
/*Userpage------------------------------------------------------------------*/
section h3 {
  color: #288;
  font-weight: 700;
  font-size: 100%;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  font-style: normal;
  line-height: 1.6;
  text-align: left;
  letter-spacing: 0; }
  section h3 span {
    margin-right: 10px;
    color: #FC3; }
section .container {
  width: 100%;
  text-align: center;
  margin: 20px 0px; }
section button {
  background-color: #288;
  border: none;
  color: white;
  padding: 18px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 4px 2px;
  cursor: pointer; }
  section button:hover {
    background: #111;
    color: #288; }
section.stats {
  border-bottom: #FC3 solid 2px; }
  section.stats h1 {
    color: black;
    font-weight: 700;
    font-size: 1.8rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0;
    text-transform: uppercase;
    margin-bottom: 20px; }
  section.stats h2 {
    padding: 0px 10px;
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0;
    margin-bottom: 20px; }
  section.stats article {
    padding: 0px 10px;
    display: grid;
    grid-template: auto/1fr 1fr; }
section.results {
  width: 100%;
  border-bottom: #FC3 solid 2px; }
  section.results h2 {
    color: black;
    font-weight: 700;
    font-size: 1.8rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 20px 0px; }
  section.results article {
    margin-bottom: 60px;
    padding: 0px 10px; }
    section.results article h3 {
      color: #FC3;
      font-weight: 700;
      font-size: 1.3rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: left;
      letter-spacing: 0;
      text-transform: uppercase; }
    section.results article img {
      width: 100%; }
    section.results article em {
      color: #288;
      font-weight: 700; }
section.exercises {
  border-bottom: #FC3 solid 2px; }
  section.exercises h2 {
    color: black;
    font-weight: 700;
    font-size: 1.8rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0;
    text-transform: uppercase;
    margin: 20px 0px; }
  section.exercises p {
    padding: 0px 10px;
    color: black;
    font-weight: 400;
    font-size: 1rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0; }
    section.exercises p em {
      color: #288;
      text-transform: uppercase;
      font-weight: 700; }
  section.exercises article {
    padding: 0px 10px; }
  section.exercises .tabs {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border: 1px solid #ccc;
    background-color: #EEE; }
    section.exercises .tabs button {
      display: block;
      background-color: #EEE;
      color: black;
      padding: 22px 16px;
      width: 100%;
      border: none;
      outline: none;
      text-align: left;
      cursor: pointer;
      transition: 0.3s;
      font-size: 17px; }
      section.exercises .tabs button:hover {
        background-color: #288; }
      section.exercises .tabs button.active {
        background-color: #FC3; }
  section.exercises .tabcontent {
    padding: 0px 12px;
    border: 1px solid #ccc;
    height: 100%;
    margin-bottom: 40px; }
    section.exercises .tabcontent a {
      text-decoration: underline; }
section.traininglog h2 {
  color: black;
  font-weight: 700;
  font-size: 1.8rem;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  font-style: normal;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 20px 0px; }
section.traininglog p {
  color: black;
  font-weight: 400;
  font-size: 1rem;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  font-style: normal;
  line-height: 1.6;
  text-align: left;
  letter-spacing: 0;
  padding: 0px 10px; }
  section.traininglog p em {
    color: #288;
    text-transform: uppercase;
    font-weight: 700; }
  section.traininglog p:last-of-type {
    margin-bottom: 60px; }
section.traininglog table {
  background: #FC3;
  width: 100%;
  padding: 0px 10px;
  min-height: 400px; }
  section.traininglog table thead tr {
    display: grid;
    grid-template: auto/1fr 1fr 1fr; }
    section.traininglog table thead tr th {
      padding: 30px 10px;
      color: white;
      font-weight: 700;
      font-size: 1.3rem;
      font-family: "IBM Plex Sans", Arial, sans-serif;
      font-style: normal;
      line-height: 1.6;
      text-align: left;
      letter-spacing: 0;
      border-bottom: white solid 2px; }
  section.traininglog table tbody tr {
    display: grid;
    grid-template: auto/1fr 1fr 1fr;
    min-height: 57px; }
    section.traininglog table tbody tr td {
      padding: 10px 10px;
      border-right: white solid 2px; }
      section.traininglog table tbody tr td:first-of-type {
        color: white; }
      section.traininglog table tbody tr td:nth-child(n+2) {
        background-color: #FFEE99; }
      section.traininglog table tbody tr td ul:nth-of-type(1) li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start; }
    section.traininglog table tbody tr:nth-of-type(even) td:nth-child(n+2) {
      background-color: #FFFFCC; }
section.traininglog div.buttonholder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start; }
section.log form textarea {
  width: 100%;
  padding: 1em 1.5em;
  margin: .5em;
  background: none;
  border: solid 2px white;
  height: 200px;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  font-style: normal;
  line-height: 1.6;
  text-align: left;
  letter-spacing: 0; }
  section.log form textarea.placeholder {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0; }
  section.log form textarea:-moz-placeholder {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0; }
  section.log form textarea::-moz-placeholder {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0; }
  section.log form textarea:-ms-input-placeholder {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0; }
  section.log form textarea::-webkit-input-placeholder {
    color: white;
    font-weight: 400;
    font-size: 1.2rem;
    font-family: "IBM Plex Sans", Arial, sans-serif;
    font-style: normal;
    line-height: 1.6;
    text-align: left;
    letter-spacing: 0; }
section.log div.picstretch {
  background: url("../images/stretching.jpg") center/cover no-repeat;
  height: 183px; }

@media screen and (min-width: 600px) {
  section.stats {
    background-color: #288;
    text-align: center;
    margin: 0 auto; }
    section.stats h2, section.stats h1 {
      background-color: white;
      text-align: center;
      margin-bottom: 0;
      padding-bottom: 20px; }
    section.stats article {
      background-color: white;
      margin: 0 auto;
      max-width: 600px; }
      section.stats article section {
        max-width: 350px;
        text-align: left;
        margin-left: 50px; }
    section.stats .container {
      background-color: white;
      margin: 0;
      padding: 20px 0px; }
  section.results .articles {
    display: grid;
    grid-template: auto/1fr 1fr 1fr; }
    section.results .articles img {
      min-height: 300px;
      max-height: 300px; }
  section.exercises .articles {
    display: grid;
    grid-template: auto/1fr 1fr; }
    section.exercises .articles article.explanation {
      background-color: #EEE; }
  section.traininglog article {
    margin: 0 auto;
    max-width: 500px; }
  section.log {
    display: grid;
    grid-template: auto/1fr 1fr; }
    section.log div.picstretch {
      height: unset; } }
/* No Access -------------------------------------------------------------------------------------------------------*/
section.noaccess h1 {
  color: #288;
  font-weight: 700;
  font-size: 2rem;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  font-style: normal;
  line-height: 1.6;
  text-align: left;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 20px;
  text-align: center; }
section.noaccess h2 {
  color: #FC3;
  font-weight: 700;
  font-size: 2rem;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  font-style: normal;
  line-height: 1.6;
  text-align: left;
  letter-spacing: 0;
  text-transform: uppercase;
  margin: 20px; }
section.noaccess p {
  margin: 20px; }
section.noaccess button {
  background-color: #288;
  border: none;
  color: white;
  padding: 18px 38px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 19px;
  margin: 4px 20px;
  cursor: pointer;
  width: 163px;
  margin-bottom: 30px; }
  section.noaccess button:hover {
    background: #111;
    color: #288; }

/* Editpage ---------------------------------------------------------------------------------------------------------*/
div.picedit {
  background: url("../images/fat_loss.jpg") center/cover no-repeat;
  height: 183px; }

form#edit_form label,
form#test_form label {
  color: #FC3;
  font-weight: 700;
  font-size: 1.2rem;
  font-family: "IBM Plex Sans", Arial, sans-serif;
  font-style: normal;
  line-height: 1.6;
  text-align: left;
  letter-spacing: 0;
  margin-left: .5em; }

/* Testpage ---------------------------------------------------------------------------------------------------------*/
div.pictest {
  background: url("../images/old_guy_training.jpeg") center/cover no-repeat;
  height: 183px; }

/* Footer -----------------------------------------------------------------------------------------------------------*/
footer {
  padding: 2em;
  background: #EEE;
  text-align: center; }

/*--------------------------------------*/

/*# sourceMappingURL=opmaak.css.map */
