/* SCSS bij fitguide2.0 */
@import "partials/reset", "partials/variables", "partials/mixins",
'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css',
'https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,600,700&display=swap';

body {
  @include font;
  background: $wit;
}

a {
  text-decoration: none;
  color: $secondary;

  &:hover { text-decoration: underline; }
}

header {
  @include flex(row,center, flex-end);
  margin: 20px 0;

  img {
    width: 100px;
    height: 100px;
  }

  a.menu {
    position: absolute;
    top: 20px;
    right: 45px;
    @include font($zwart, 400, 1rem, $hoofdfont, normal, 100px);
    font-size: 1.9rem;
  }

  .overlay {
    @include flex(column, center, center);
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.5s ease-out;
    text-align: center;

    a {
      text-decoration: none;
      text-transform: uppercase;
      @include font($wit, 700, 1.5rem, $hoofdfont, normal, 1.6, center);
      display: block;
      transition: 500ms ease-out;

      &:hover, a.active {
        color: $secondary;
      }

    }

    .closebtn {
      position: absolute;
      top: 20px;
      right: 45px;
      font-size: 60px;
    }
  }
}

section.section-one {

  div.pic {
    position: relative;
    @include flex(row, center, center);
    width: 100%;
    height: 100vh;
    overflow: hidden;

    img {
      transform: translateX(-300px);
    }

    .overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      background: rgba(255,255,255,.3);
      @include flex(column, center);

      h1 {
        @include font($zwart, 700, 2rem);
        text-transform: uppercase;
        margin-left: 20px;
      }

      p {
        margin-left: 20px;
      }
    }
  }
}


section.section-two {
  @include flex(column, center, center);

  div.pic {
    position: relative;
    @include flex(row, center, center);
    width: 100%;
    overflow: hidden;
  }

  h2 {
    position: absolute;
    @include font($wit, 700, 2rem);
    text-transform: uppercase;
  }

  article {
    text-align: center;
    margin-top: 40px;

    span {
      color: $main;
      font-size: 3rem;
      padding-bottom: 15px;
    }

    h3 {
      @include font($main, 700, 1.8rem, $hoofdfont, normal, 1.6, center);
      text-transform: uppercase;
      padding-bottom: 30px;
    }

    p {
      @include font($zwart, 400, 1.4rem, $hoofdfont, normal, 1.6, center);
      padding-bottom: 40px;
    }
  }
}

section.section-three {

  div.pic {
    position: relative;
    @include flex(row, center, center);
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
    }

    .overlay {
      position: absolute;
      @include flex(column, space-around, center);
      height: 100%;

      h2 {
        @include font($zwart, 700, 1.6rem, $hoofdfont, normal, 1.6, center);
        text-transform: uppercase;
      }

      button {
        background-color: $secondary;
        border: none;
        color: white;
        padding: 18px 38px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 19px;
        margin: 4px 2px;
        cursor: pointer;
      }
    }
  }
}

section.section-four {
  img {
    width: 100%;
  }

  form {
    background: $secondary;
    @include flex(column, space-between, center);

    h2 {
      @include font($wit, 700, 1.5rem, $hoofdfont, normal, 1.6, center);
      text-transform: uppercase;
      padding: 40px 0;
    }

    ul {
      width: 90%;

      input {
        width: 100%;
        padding: 1em 1.5em;
        margin: .5em 0;
        background: none;
        border: solid 2px $wit;
        @include font($wit, 400, 1.2rem);

        @include input-placeholder {
          @include font($wit, 400, 1.2rem);
        }
      }

      textarea {
        width: 100%;
        padding: 1em 1.5em;
        margin: .5em 0;
        background: none;
        border: solid 2px $wit;
        @include font($wit, 400, 1.2rem);

        @include input-placeholder {
          @include font($wit, 400, 1.2rem);
        }
      }

      input[type="Submit"] {
        width: 100%;
        padding: 1em 1.5em;
        margin: .5em 0;
        background: $wit;
        border: none;
        cursor: pointer;
        transition: 300ms;
        @include font($zwart, 400, 1.2rem, $hoofdfont, normal, 1.6, center);

        &:hover {
          background: $donker;
          color: $secondary;
        }
      }
    }
    p {
      margin: .5em 0;
      @include font($wit, 400, 1.2rem);
    }
  }
}

footer {
  padding: 2em;
  background: $licht;
  text-align: center;
}


// Scroll to Top button
#goToTop {
  cursor: pointer;
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  background: $donker;
  color: $licht;
  font-size: 3rem;
  padding: 0 .5em;
  border-radius: 5px;

  &:hover { color: $main; }
}