/* Variables bij fitguide2.0 */

// Kleuren

$wit: white;
$main: #FC3;
$secondary: #288;
$donker: #111;
$licht: #EEE;
$zwart: black;
$accent: red;

// Fonts

$hoofdfont: 'IBM Plex Sans', Arial, sans-serif;

// Beeldschermen

$smal-scherm: 480px;
$medium-scherm: 600px;
$breed-scherm: 1400px;