<body class="userpage">
<div class="userpagina">
    <section class="userinfo">
        <div class="infobox1">
            <h3>Hi,</h3>
            <h3>@@usr_username@@</h3>
        </div>

        <div class="infobox">
            <p>@@usr_voornaam@@</p>
            <p>@@usr_naam@@</p>
        </div>
        <div class="infobox">
            <h3 class = "fas fa-weight"></h3>
            <p>@@usr_gewicht@@ kg</p>
        </div>

        <div class="infobox">
            <h3 class="fas fa-fist-raised"></h3>
            <p>@@usr_level@@ /10</p>
        </div>

        <div class="infobox">
            <h3 class="fas fa-balance-scale-right"></h3>
            <p>@@usr_doelgewicht@@ kg</p>
        </div>



    </section>


    <section class="usertraining">
        <div class="trainingsboxtop">
            <h4>Feedback huidige BMI</h4>
            <aside>Uw huidig BMI is @@usr_BMI@@, dit betekent dat ... @@usr_feedback@@(nog toe te voegen in database) </aside>
        </div>

        <div class="trainingsboxtop">
            <h4>Voeg oefening toe</h4>
            <aside><span class="fas fa-plus"><select name="" id="" class="fas fa-plus"></select></span>@@oef_naam@@ <br>
                <button class="btn btn-success voegtoe">Voeg toe</button></aside>
        </div>
        <p id="traininguser">Voorgestelde oefeningen</p>
        <p id="traininguser">Trainingsschema</p>
        <div class="trainingsboxbot">
            <br>
            <aside>
                <p class="oefening">@@oef_naam1@@</p>
                <p>Hiermee train je: @@spiergroep1@@</p>
                <p class="oefening">@@oef_naam2@@</p>
                <p>Hiermee train je: @@spiergroep2@@</p>
                <p class="oefening">@@oef_naam3@@</p>
                <p>Hiermee train je: @@spiergroep3@@</p>
                <p class="oefening">@@oef_naam4@@</p>
                <p>Hiermee train je: @@spiergroep4@@</p>
                <p class="oefening">@@oef_naam5@@</p>
                <p>Hiermee train je: @@spiergroep5@@</p>
            </aside>
        </div>
        <div class="trainingsboxbot">

            <aside>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Oefening</th>
                        <th scope="col">Gewicht</th>
                        <th scope="col">Herhalingen</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>@@oefening@@</td>
                        <td>@@oef_level_gewicht@@</td>
                        <td>@@oef_level_herhalingen@@</td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>@@oefening@@</td>
                        <td>@@oef_level_gewicht@@</td>
                        <td>@@oef_level_herhalingen@@</td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>@@oefening@@</td>
                        <td>@@oef_level_gewicht@@</td>
                        <td>@@oef_level_herhalingen@@</td>
                    </tr>

                    <tr>
                        <th scope="row">4</th>
                        <td>@@oefening@@</td>
                        <td>@@oef_level_gewicht@@</td>
                        <td>@@oef_level_herhalingen@@</td>
                    </tr>
                    <tr>
                        <th scope="row">5</th>
                        <td>@@oefening@@</td>
                        <td>@@oef_level_gewicht@@</td>
                        <td>@@oef_level_herhalingen@@</td>
                    </tr>
                    <tr>
                        <th scope="row">6</th>
                        <td>@@oefening@@</td>
                        <td>@@oef_level_gewicht@@</td>
                        <td>@@oef_level_herhalingen@@</td>
                    </tr>
                    </tbody>
                </table>
            </aside>
        </div>



    </section>




</div>







</body>